.idea
.idea_modules
target
project/boot
*.swp
*.swo
project.vim
tags
.lib
*~
*#
z_local.sbt
.DS_Store
.ensime
/.ensime_cache
.tags
.metaserver
test-output
.metals
.bloop
project/metals.sbt
project/project
.bsp
node_modules
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
